body {
  margin: 0;
  padding: 0;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

.gallery-item {
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.gallery-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

.image-container {
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
