body {
  margin: 0;
  background-color: #0f1923;
}

.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
}

.monster {
  display: flex;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog .name {
  margin: 0 0;
  font-size: 30px;
  font-weight: lighter;
}

.blog .detail {
  margin: 0 0;
  font-size: 18px;
  font-weight: lighter;
  color: #555;
}

.blog .age {
  margin: 0 0;
  font-size: 15px;
  font-weight: lighter;
  color: #555;
}

.blog img {
  margin-top: 20px;
  width: 70%;
}

.monster-void {
  width: 100%;
  height: 100px;
}

.c2-name .void {
  width: 100%;
  height: 100px;
}

.main-box .topic {
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 30px;
}

@media screen and (max-width: 460px) {
  .blog .name {
    margin: 0 0;
    font-size: 25px;
    font-weight: lighter;
  }
  .blog .detail {
    margin: 0 0;
    font-size: 14px;
    font-weight: lighter;
    color: #555;
  }

  .blog .age {
    margin: 0 0;
    font-size: 12px;
    font-weight: lighter;
    color: #555;
  }

  .blog img {
    width: 85%;
  }
}

@media screen and (max-width: 380px) {
  .blog .name {
    margin: 0 0;
    font-size: 20px;
    font-weight: lighter;
  }
}

@media screen and (max-width: 320px) {
  .blog .name {
    margin: 0 0;
    font-size: 15px;
    font-weight: lighter;
  }
}
