@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@200&display=swap");
/* font-family: 'Edu TAS Beginner', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Noto Sans Thai', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* The main class for nav bar in top website */

.topnav {
  z-index: 9;
  width: 100%;
  height: 80px;
  background-color: #111111;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.topnav-void {
  width: 100%;
  height: 80px;
}

.topnav img {
  width: 40px;
  margin-left: 10px;
  margin-right: 15px;
}

.topnav a {
  color: #f9f9f9;
  text-decoration: none;
  text-align: center;
}

.topnav .menu a:hover {
  background-color: #333333;
}

/* Subclass for left site use to show logo and name of game */

.logo {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  padding-right: 0px;
}

/* Subclass for right site use to show menu setting */

.menu {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  float: right;
  margin-right: 10px;
}

.menu a {
  height: 30px;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin-right: 3px;
}

/* for botton line in menu */

.menu .buttonline {
  border-bottom: 4px solid transparent;
  padding-bottom: 11px;
  padding-top: 11px;
  border-radius: 4.5px;
}

.menu .buttonline:hover {
  border-bottom-color: #fc474e;
}

.menu .active.buttonline {
  border-bottom-color: #fc474e;
}

/* for specify id to decorate website */

#name {
  font-size: 25px;
  font-weight: bolder;
  margin-right: 20px;
}

.bar {
  padding: 10px;
  transition: 0.4s;
}

/* to make green side in left website*/

.topnav .logo .box {
  /* background-color: #ff4655; */
  margin-left: 0;
  padding: 0;
  width: 5px;
  height: 50px;
}

/* use to change color when setting logo was clicked */

.bar {
  &:hover {
    background-color: #ddd;
  }
}

.bar .left,
.bar .center,
.bar .right {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.change.bar .left {
  transform: translate(0, 10px) rotate(-45deg);
}

.change.bar .center {
  opacity: 0;
}

.change.bar .right {
  transform: translate(0, -10px) rotate(45deg);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  float: right;
  z-index: 1;
  top: 80px;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  padding-left: 30px;
  text-align: left;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* for hide setting menu with website scale */

@media screen and (min-width: 935px) {
  #settingbar {
    display: none;
  }
}
@media screen and (max-width: 935px) {
  #Amenu6,
  #Amenu5,
  #Amenu4,
  #Amenu3,
  #Amenu2,
  #Amenu1 {
    display: none;
  }
}

@media screen and (max-width: 935px) {
  #menu6 {
    display: none;
  }

  #Amenu6 {
    display: block;
  }

  #settingbar {
    display: block;
  }
}

@media screen and (max-width: 861px) {
  #menu5 {
    display: none;
  }
  #Amenu5 {
    display: block;
  }
}

@media screen and (max-width: 777px) {
  #menu4 {
    display: none;
  }
  #Amenu4 {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  #menu4,
  #menu3,
  #menu2,
  #menu1 {
    display: none;
  }

  #Amenu4,
  #Amenu3,
  #Amenu2,
  #Amenu1 {
    display: block;
  }
}

/* -------------------------------------------First content---------------------------------------------------- */
.c1-name {
  display: flex;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.c1-name img {
  border: none;
}

.c1-name .c1-background {
  width: 100%;
  background-color: #0f1923;
}

.c1-name .triangle {
  position: absolute;
  left: 0%;
  bottom: 0%;
  transform: translate(0%, 0%);
  width: 60px;
  height: 60px;
  background-color: #ece7e1;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  transform: scale(1, -1);
}

.c1-name .name {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ece7e1;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.c1-name .description {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ece7e1;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

/* -------------------------------------------Second content---------------------------------------------------- */
.c2-name {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.c2-name .topic {
  width: 100%;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  font-family: "Edu TAS Beginner", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Noto Sans Thai", sans-serif;
}

.c2-name .line {
  width: 100%;
  height: 10px;
  border: 5px solid #fc474e;
  background-color: #fc474e;
}

.c2-name .topic .void {
  width: 20%;
  height: 50px;
}

.c2-name .box-topic {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.c2-name .c2-background {
  width: 100%;
  height: 1000px;
  text-align: center;
  background-color: #ece7e1;
}

.story {
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.story-content {
  /* padding-left: 7vw; */
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 1fr;
  position: absolute;
  top: 30%;
  left: 0%;
  transform: translate(0%, 0%);
  background-color: #ece7e1;
  text-align: center;
}

.story img {
  margin-bottom: 28px;
  width: 80%;
}

/* .story #st {
  padding-left: 10vw;
} */

.story .text {
  width: 90vw;
  margin: 0 auto;
  font-size: 18px;
  text-align: justify;
  text-indent: 27px;
}

@media screen and (max-width: 750px) {
  .c2-name {
    width: 100%;
  }

  .c1-name .name {
    font-size: 25px;
  }
  .c1-name .description {
    top: 33%;
    width: 75%;
    font-size: 18px;
  }

  @media screen and (max-width: 500px) {
    .c1-name .description {
      top: 40%;
    }
  }

  @media screen and (max-width: 450px) {
    .c1-name .description {
      top: 45%;
    }
  }

  .c2-name .box-topic {
    grid-template-columns: 1.25fr 2.25fr 2fr;
  }

  .story img {
    width: 90%;
  }

  .story {
    grid-template-columns: 2fr 2fr;
    width: 95%;
    padding: 0;
    padding-bottom: 4vh;
  }

  .story .boxstory .text {
    padding-left: 10px;
  }
}
